
@media(max-width: 991px){
	.section-contact,
	.portfolio-popup .description,
	.portfolio-popup .info,
	
	
	.home-section,
	.preloader,
	.nav-menu,
	.arrow,
	.header{
		flex: 0 0 100%;
        max-width: 100%;
	}
	.home-section .home-text, 
	.home-section .home-img,
	.about-section .skills .skill-item,
	.about-section .about-info,
	.about-section .about-img,
	.portfolio-section .portfolio-item{
		flex: 0 0 50%;
        max-width: 50%;
	}
	.home-section{
		order: 2;
		padding-top: 25%;
	}
	.contact-section .submit-btn,
	.home-section .home-text{
		text-align: center;
	}
	.home-section .full-screen{
		padding: 100px 0;
	}
	.home-section .home-img .img-box{
		margin-bottom: 40px;
		max-width: 100%;
		padding-top: 70px;
	}
	.home-section .home-img .img-box img {
		max-width: 100%;
		border-radius: 50%;
		border: 10px solid transparent;
		margin: 0px;
	}
	.effect-3{
		margin-left: -60px;
	}
	.effect-4{
		left: 15%;
	}
	.effect-5{
		right: 4%;
	}
	.effect-6, .ball{
		opacity: 0;
	}
	.about-section .about-img{
		padding-bottom: 30px;
	}
	.about-section .timeline .timeline-item:nth-child(odd){
		padding-right: 15px;
        text-align: left;
        padding-left: 75px;
	}
	.about-section .timeline .timeline-item:nth-child(even){
		padding-left: 75px;
	}
	.about-section .timeline:before{
		left: 35px;
	}
	.about-section .timeline .timeline-item:nth-child(odd) .icon{
		right: auto;
		left: -60px;
	}
	.about-section .timeline .timeline-item:nth-child(even) .icon{
	    left: -60px;	
	}
	.about-section .timeline .timeline-item{
		margin-bottom: 40px;
	}
	.about-section .timeline .timeline-item:last-child{
		margin-bottom:0;
	}
	.about-section .timeline .timeline-item:nth-child(odd) .timeline-item-inner:before{
		left:-30px;
		right:auto;
	}
	.home-section .arrow{
		position: static;
		padding-left: 46%;
		padding-bottom: 7%;
	}
	.about-section .arrow{
        margin: 0 auto;
        padding-left: 35px;
	}
	.about-section .pulse{
        right: 0px;
	}
	.project .arrow{
		position: initial;
	}

	#container{
		margin: 34px auto;
	}
	#contact .heading{
		padding: 70px;
	}
	
.arrow-up {
	text-align: center;
	margin: 4% 65px;
  }
}

@media(max-width: 767px){
	.section-contact,
	.portfolio-popup .description,
	.portfolio-popup .info,
	.portfolio-section .portfolio-item,
	.service-section .service-item,
	.about-section .skills .skill-item,
	.about-section .about-info,
	.about-section .about-img,
	.home-section .home-text, 
	.home-section .home-img,
	.home-section,
	.preloader,
	.nav-menu,
	.arrow,
	.header{
		flex: 0 0 100%;
        max-width: 100%;
	}
	.home-section .home-text{
		order: 2;
	}
	.contact-section .submit-btn,
	.home-section .home-text{
		text-align: center;
	}
	.home-section .full-screen{
		padding: 100px 0;
	}
	.home-section .home-img .img-box{
		margin-bottom: 40px;
		max-width: 100%;
		padding-top: 70px;
	}
	.home-section .home-img .img-box img {
		max-width: 100%;
		border-radius: 50%;
		border: 10px solid transparent;
		margin: 0px;
	}
	.effect-3{
		margin-left: -60px;
	}
	.effect-4{
		left: 15%;
	}
	.effect-5{
		right: 4%;
	}
	.effect-6, .ball{
		opacity: 0;
	}
	.about-section .about-img{
		padding-bottom: 30px;
	}
	.about-section .timeline .timeline-item:nth-child(odd){
		padding-right: 15px;
        text-align: left;
        padding-left: 75px;
	}
	.about-section .timeline .timeline-item:nth-child(even){
		padding-left: 75px;
	}
	.about-section .timeline:before{
		left: 35px;
	}
	.about-section .timeline .timeline-item:nth-child(odd) .icon{
		right: auto;
		left: -60px;
	}
	.about-section .timeline .timeline-item:nth-child(even) .icon{
	    left: -60px;	
	}
	.about-section .timeline .timeline-item{
		margin-bottom: 40px;
	}
	.about-section .timeline .timeline-item:last-child{
		margin-bottom:0;
	}
	.about-section .timeline .timeline-item:nth-child(odd) .timeline-item-inner:before{
		left:-30px;
		right:auto;
	}
	.home-section .arrow{
		position: initial;
        margin: 0 auto;
        padding-left: 170px;
	}
	.about-section .arrow{
        margin: 0 auto;
        padding-left: 35px;
	}
	.about-section .pulse{
        right: 0px;
	}
	.project .arrow{
		position: initial;
	}

	#container{
		margin: 34px auto;
	}
	#contact .heading{
		padding: 70px;
	}
	
.arrow-up {
	text-align: center;
	margin: 4% 65px;
  }
}



@media(max-width: 574px){
	.home-section .home-img .img-box{
		max-width: 100%;
	}
    .home-section .home-text h2{
    	font-size: 40px;
    }
}


